.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: white;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill:  #1A33D5;
    -fx-font-size: 15px;
}

.table-view .table-column {
    -fx-alignment: center;
}

.table-row-cell:focused {
    -fx-background-color:#1A33D5;
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.corner {
    -fx-background-color: transparent;
}